stats/loss_new_theory_dist_version.png
stats/loss_new_theory_dist_version6.png
stats/loss_new_theory_manual_version.png
stats/loss_new_theory_manual_version1.png
stats/multiple_nodes_expand_benchmark.png
stats/new_theory_epoch_exp_progress_dist_version.csv
stats/new_theory_epoch_exp_progress_manual_version.csv
stats/new_theory_epoch_exp_progress_manual_version1.csv
stats/new_theory_epoch_proof_progress_dist_version.csv
stats/new_theory_epoch_proof_progress_manual_version.csv
stats/new_theory_epoch_proof_progress_manual_version1.csv
stats/new_theory_expr_size_progress__dist_version.png
stats/new_theory_expr_size_progress_dist_version6.png
stats/new_theory_expr_size_progress_manual_version.png
stats/new_theory_expr_size_progress_manual_version1.png
stats/new_theory_proof_progress__dist_version.png
stats/new_theory_proof_progress_dist_version6.png
stats/new_theory_proof_progress_manual_version.png
stats/new_theory_proof_progress_manual_version1.png
stats/number_of_expanded_nodes_in_tree.png
stats/stats/avg_new_theory_expr_size_progress_dist_version4.png
stats/stats/avg_new_theory_expr_size_progress_dist_version5_no_epsilon.png
stats/stats/avg_new_theory_proof_progress_dist_version4.png
stats/stats/avg_new_theory_proof_progress_dist_version5_no_epsilon.png
stats/stats/avg_simp_eq.png
stats/stats/caviar_proof_5k.png
stats/stats/data.csv
stats/stats/data1000.csv
stats/stats/exp_size_epcoh100.png
stats/stats/expr_size_epoch_progress.png
stats/stats/expr_size_progress_test.png
stats/stats/loss_new_theory_dist_version.png
stats/stats/loss_new_theory_dist_version1.png
stats/stats/loss_new_theory_dist_version4.png
stats/stats/loss_new_theory_dist_version5_no_epsilon.png
stats/stats/loss_new_theory3.png
stats/stats/loss_new_theory4.png
stats/stats/loss_new_theorytest.png
stats/stats/loss_old_theorytest.png
stats/stats/loss_over_time_tree_search.png
stats/stats/new_theory_epoch_exp_progress_dist_version1.csv
stats/stats/new_theory_epoch_exp_progress_dist_version2.csv
stats/stats/new_theory_epoch_exp_progress_dist_version3.csv
stats/stats/new_theory_epoch_exp_progress_dist_version4.csv
stats/stats/new_theory_epoch_exp_progress_dist_version5_no_epsilon.csv
stats/stats/new_theory_epoch_exp_progresstest.csv
stats/stats/new_theory_epoch_progress.csv
stats/stats/new_theory_epoch_progress2.csv
stats/stats/new_theory_epoch_progress3.csv
stats/stats/new_theory_epoch_progress4.csv
stats/stats/new_theory_epoch_progresstest.csv
stats/stats/new_theory_epoch_proof_progress_dist_version1.csv
stats/stats/new_theory_epoch_proof_progress_dist_version2.csv
stats/stats/new_theory_epoch_proof_progress_dist_version3.csv
stats/stats/new_theory_epoch_proof_progress_dist_version4.csv
stats/stats/new_theory_epoch_proof_progress_dist_version5_no_epsilon.csv
stats/stats/new_theory_epoch_proof_progresstest.csv
stats/stats/new_theory_expr_size_progress__dist_version.png
stats/stats/new_theory_expr_size_progress__dist_version1.png
stats/stats/new_theory_expr_size_progress_dist_version.png
stats/stats/new_theory_expr_size_progress_dist_version4.png
stats/stats/new_theory_expr_size_progress_dist_version5_no_epsilon.png
stats/stats/new_theory_expr_size_progress_test.png
stats/stats/new_theory_proof_progress__dist_version.png
stats/stats/new_theory_proof_progress__dist_version1.png
stats/stats/new_theory_proof_progress_dist_version.png
stats/stats/new_theory_proof_progress_dist_version4.png
stats/stats/new_theory_proof_progress_dist_version5_no_epsilon.png
stats/stats/new_theory_proof_progress_test.png
stats/stats/old_theory_epoch_progresstest.csv
stats/stats/old_theory_expr_size_progress_test.png
stats/stats/policy_data100.csv
stats/stats/policy_data100v1.csv
stats/stats/policy_data1000.csv
stats/stats/policy_loss100ep.png
stats/stats/policy_reduction_training.png
stats/stats/policy_training_loss.png
stats/stats/policy_training_loss01_60ep.png
stats/stats/policy_training_loss10ep.png
stats/stats/policy_training_loss20ep.png
stats/stats/policy_training_loss30ep.png
stats/stats/policy_training_loss40ep.png
stats/stats/policy_training_loss50ep.png
stats/stats/policy_training_loss60ep.png
stats/stats/policy_training_loss80ep.png
stats/stats/policy_training_loss100ep.png
data/neural_rewrter/train.json
data/training_data/benchmarking.bin
data/training_data/musk.jld2
data/training_data/policy_training_samplesk7_v4.jld2
data/training_data/policy_training_samplesk652_v3.jld2
data/training_data/policy_training_samplesk999_v5.jld2
data/training_data/training_samples_inf_grad1.jld2
data/training_data/training_samplesk1_v4.jld2
data/training_data/training_samplesk1_v5.jld2
data/training_data/training_samplesk2_v5.jld2
data/training_data/training_samplesk5_v5.jld2
data/training_data/training_samplesk7_v5.jld2
data/training_data/training_samplesk10_v5.jld2
data/training_data/training_samplesk1000_v4.jld2
data/training_data/training_samplesk2000_v4.jld2
new_stats/stats/avg_simp_eq.png
new_stats/stats/caviar_proof_5k.png
new_stats/stats/data.csv
new_stats/stats/data1000.csv
new_stats/stats/exp_size_epcoh100.png
new_stats/stats/expr_size_epoch_progress.png
new_stats/stats/expr_size_progress_test.png
new_stats/stats/loss_new_theory_dist_version.png
new_stats/stats/loss_new_theory_dist_version1.png
new_stats/stats/loss_new_theory_dist_version6.png
new_stats/stats/loss_new_theory_dist_version7.png
new_stats/stats/loss_new_theory_dist_version8.png
new_stats/stats/loss_new_theory3.png
new_stats/stats/loss_new_theory4.png
new_stats/stats/loss_new_theorytest.png
new_stats/stats/loss_old_theorytest.png
new_stats/stats/loss_over_time_tree_search.png
new_stats/stats/multiple_nodes_expand_benchmark.png
new_stats/stats/new_theory_epoch_exp_progress_dist_version.csv
new_stats/stats/new_theory_epoch_exp_progress_dist_version1.csv
new_stats/stats/new_theory_epoch_exp_progress_dist_version6.csv
new_stats/stats/new_theory_epoch_exp_progress_dist_version7.csv
new_stats/stats/new_theory_epoch_exp_progress_dist_version8.csv
new_stats/stats/new_theory_epoch_exp_progresstest.csv
new_stats/stats/new_theory_epoch_progress.csv
new_stats/stats/new_theory_epoch_progress2.csv
new_stats/stats/new_theory_epoch_progress3.csv
new_stats/stats/new_theory_epoch_progress4.csv
new_stats/stats/new_theory_epoch_progresstest.csv
new_stats/stats/new_theory_epoch_proof_progress_dist_version.csv
new_stats/stats/new_theory_epoch_proof_progress_dist_version1.csv
new_stats/stats/new_theory_epoch_proof_progress_dist_version6.csv
new_stats/stats/new_theory_epoch_proof_progress_dist_version7.csv
new_stats/stats/new_theory_epoch_proof_progress_dist_version8.csv
new_stats/stats/new_theory_epoch_proof_progresstest.csv
new_stats/stats/new_theory_expr_size_progress__dist_version.png
new_stats/stats/new_theory_expr_size_progress__dist_version1.png
new_stats/stats/new_theory_expr_size_progress_dist_version6.png
new_stats/stats/new_theory_expr_size_progress_dist_version7.png
new_stats/stats/new_theory_expr_size_progress_dist_version8.png
new_stats/stats/new_theory_expr_size_progress_test.png
new_stats/stats/new_theory_proof_progress__dist_version.png
new_stats/stats/new_theory_proof_progress__dist_version1.png
new_stats/stats/new_theory_proof_progress_dist_version6.png
new_stats/stats/new_theory_proof_progress_dist_version7.png
new_stats/stats/new_theory_proof_progress_dist_version8.png
new_stats/stats/new_theory_proof_progress_test.png
new_stats/stats/number_of_expanded_nodes_in_tree.png
new_stats/stats/old_theory_epoch_progresstest.csv
new_stats/stats/old_theory_expr_size_progress_test.png
new_stats/stats/policy_data100.csv
new_stats/stats/policy_data100v1.csv
new_stats/stats/policy_data1000.csv
new_stats/stats/policy_loss100ep.png
new_stats/stats/policy_reduction_training.png
new_stats/stats/policy_training_loss.png
new_stats/stats/policy_training_loss01_60ep.png
new_stats/stats/policy_training_loss10ep.png
new_stats/stats/policy_training_loss20ep.png
new_stats/stats/policy_training_loss30ep.png
new_stats/stats/policy_training_loss40ep.png
new_stats/stats/policy_training_loss50ep.png
new_stats/stats/policy_training_loss60ep.png
new_stats/stats/policy_training_loss80ep.png
new_stats/stats/policy_training_loss100ep.png
new_stats/stats/stats/avg_new_theory_expr_size_progress_dist_version4.png
new_stats/stats/stats/avg_new_theory_expr_size_progress_dist_version5_no_epsilon.png
new_stats/stats/stats/avg_new_theory_proof_progress_dist_version4.png
new_stats/stats/stats/avg_new_theory_proof_progress_dist_version5_no_epsilon.png
new_stats/stats/stats/avg_simp_eq.png
new_stats/stats/stats/caviar_proof_5k.png
new_stats/stats/stats/data.csv
new_stats/stats/stats/data1000.csv
new_stats/stats/stats/exp_size_epcoh100.png
new_stats/stats/stats/expr_size_epoch_progress.png
new_stats/stats/stats/expr_size_progress_test.png
new_stats/stats/stats/loss_new_theory_dist_version.png
new_stats/stats/stats/loss_new_theory_dist_version1.png
new_stats/stats/stats/loss_new_theory_dist_version4.png
new_stats/stats/stats/loss_new_theory_dist_version5_no_epsilon.png
new_stats/stats/stats/loss_new_theory3.png
new_stats/stats/stats/loss_new_theory4.png
new_stats/stats/stats/loss_new_theorytest.png
new_stats/stats/stats/loss_old_theorytest.png
new_stats/stats/stats/loss_over_time_tree_search.png
new_stats/stats/stats/new_theory_epoch_exp_progress_dist_version1.csv
new_stats/stats/stats/new_theory_epoch_exp_progress_dist_version2.csv
new_stats/stats/stats/new_theory_epoch_exp_progress_dist_version3.csv
new_stats/stats/stats/new_theory_epoch_exp_progress_dist_version4.csv
new_stats/stats/stats/new_theory_epoch_exp_progress_dist_version5_no_epsilon.csv
new_stats/stats/stats/new_theory_epoch_exp_progresstest.csv
new_stats/stats/stats/new_theory_epoch_progress.csv
new_stats/stats/stats/new_theory_epoch_progress2.csv
new_stats/stats/stats/new_theory_epoch_progress3.csv
new_stats/stats/stats/new_theory_epoch_progress4.csv
new_stats/stats/stats/new_theory_epoch_progresstest.csv
new_stats/stats/stats/new_theory_epoch_proof_progress_dist_version1.csv
new_stats/stats/stats/new_theory_epoch_proof_progress_dist_version2.csv
new_stats/stats/stats/new_theory_epoch_proof_progress_dist_version3.csv
new_stats/stats/stats/new_theory_epoch_proof_progress_dist_version4.csv
new_stats/stats/stats/new_theory_epoch_proof_progress_dist_version5_no_epsilon.csv
new_stats/stats/stats/new_theory_epoch_proof_progresstest.csv
new_stats/stats/stats/new_theory_expr_size_progress__dist_version.png
new_stats/stats/stats/new_theory_expr_size_progress__dist_version1.png
new_stats/stats/stats/new_theory_expr_size_progress_dist_version.png
new_stats/stats/stats/new_theory_expr_size_progress_dist_version4.png
new_stats/stats/stats/new_theory_expr_size_progress_dist_version5_no_epsilon.png
new_stats/stats/stats/new_theory_expr_size_progress_test.png
new_stats/stats/stats/new_theory_proof_progress__dist_version.png
new_stats/stats/stats/new_theory_proof_progress__dist_version1.png
new_stats/stats/stats/new_theory_proof_progress_dist_version.png
new_stats/stats/stats/new_theory_proof_progress_dist_version4.png
new_stats/stats/stats/new_theory_proof_progress_dist_version5_no_epsilon.png
new_stats/stats/stats/new_theory_proof_progress_test.png
new_stats/stats/stats/old_theory_epoch_progresstest.csv
new_stats/stats/stats/old_theory_expr_size_progress_test.png
new_stats/stats/stats/policy_data100.csv
new_stats/stats/stats/policy_data100v1.csv
new_stats/stats/stats/policy_data1000.csv
new_stats/stats/stats/policy_loss100ep.png
new_stats/stats/stats/policy_reduction_training.png
new_stats/stats/stats/policy_training_loss.png
new_stats/stats/stats/policy_training_loss01_60ep.png
new_stats/stats/stats/policy_training_loss10ep.png
new_stats/stats/stats/policy_training_loss20ep.png
new_stats/stats/stats/policy_training_loss30ep.png
new_stats/stats/stats/policy_training_loss40ep.png
new_stats/stats/stats/policy_training_loss50ep.png
new_stats/stats/stats/policy_training_loss60ep.png
new_stats/stats/stats/policy_training_loss80ep.png
new_stats/stats/stats/policy_training_loss100ep.png
models/*
.vscode/launch.json
.vscode/settings.json
data/training_data/training_data/benchmarking.bin
data/training_data/training_data/benchmarking.tar.gz
data/training_data/training_data/musk.jld2
data/training_data/training_data/policy_training_samplesk7_v4.jld2
data/training_data/training_data/policy_training_samplesk652_v3.jld2
data/training_data/training_data/policy_training_samplesk999_v4.jld2
data/training_data/training_data/policy_training_samplesk999_v5.jld2
data/training_data/training_data/size_heuristic_training_samples.bin
data/training_data/training_data/training_samples_inf_grad.jld2
data/training_data/training_data/training_samples_inf_grad1.jld2
data/training_data/training_data/training_samples.jld2
data/training_data/training_data/training_samples1k_v1.jld2
data/training_data/training_data/training_samples1k_v2.jld2
data/training_data/training_data/training_samples1k.jld2
data/training_data/training_data/training_samples10k_v1.jld2
data/training_data/training_data/training_samples10k_v2.jld2
data/training_data/training_data/training_samples10k_v3.jld2
data/training_data/training_data/training_samples10k.jld2
data/training_data/training_data/training_samplesk1_v3.jld2
data/training_data/training_data/training_samplesk1_v4.jld2
data/training_data/training_data/training_samplesk1_v5.jld2
data/training_data/training_data/training_samplesk2_v5.jld2
data/training_data/training_data/training_samplesk5_v5.jld2
data/training_data/training_data/training_samplesk7_v5.jld2
data/training_data/training_data/training_samplesk10_v3.jld2
data/training_data/training_data/training_samplesk10_v5.jld2
data/training_data/training_data/training_samplesk501_v3.jld2
data/training_data/training_data/training_samplesk1000_v3.jld2
data/training_data/training_data/training_samplesk1000_v4.jld2
data/training_data/training_data/training_samplesk2000_v4.jld2
